<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/dropzone.css">

<div id="profile">
    <ul class="nav nav-tabs-justified">
        <li class="active"><a data-toggle="tab" ng-click="">Profile</a></li>
        <li><a data-toggle="tab" ng-click="">Likes</a></li>
        <li><a data-toggle="tab" ng-click="">Purchases</a></li>
    </ul>

    <div class="tab-content">
        <div id="profile-data">
            <br>
            <h3>Profile</h3>
            <img ng-src='{{avatar}}'>
            <form autocomplete="on" method="post" name="form_profile" id="form_profile">
                    <div class="form-group">
                        <span id="error_email" class="styerror"></span>
                        <label for="email">Email</label>
                        <input ng-model="userInfo.email" type="text" class="form-control" id="email" name="email" placeholder="prueba@gmail.com" value="{{userInfo.email}}">
                        <span id="error_name" class="styerror"></span>
                        <label for="name">Name</label>
                        <input ng-model="userInfo.name" type="text" class="form-control" id="name" name="name" placeholder="Ruben" value="{{userInfo.name}}">
                        <span id="error_phone" class="styerror"></span>
                        <label for="phone">Phone</label>
                        <input ng-model="userInfo.phone" type="text" class="form-control" id="phone" name="phone" placeholder="666666666" value="{{userInfo.phone}}">
                        <span id="error_country" class="styerror"></span>
                        <br>
                        <select ng-model="userInfo.pais" ng-options="item.name for item in paises" class="form-control-drop" name="country" id="country" ng-change="resetPais()">
                            <option value="{{userInfo.country}}" selected>Select country</option>
                        </select>
                        <span id="error_province" class="styerror"></span>
                        <select ng-options="item.nombre for item in provincias" ng-model="userInfo.provincia" placeholder="Provincia" ng-change="resetValues()" ng-disabled="userInfo.pais.code!='ES'" class="form-control-drop" name="province" id="province">
                            <option value="{{userInfo.province}}" selected>Select province</option>
                        </select>
                        <span id="error_city" class="styerror"></span>
                        <select class="form-control-drop" name="city" ng-model="userInfo.poblacion"
                        ng-options="item.poblacion for item in poblaciones " placeholder="Poblacion" id="city" ng-disabled="userInfo.pais.code!='ES'">
                            <option value="{{userInfo.city}}" selected>Select city</option>
                        </select>
                    </div>
                    <div class="msg"></div>
                    <br>
                        <!-- <div id="dropzone" class="dropzone"></div> -->
                        <button id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>
                        <br>
                    <input ng-click="update_profile()" class="btn btn-success" type="button" name="update_profile" id="update_profile" value="Enviar"/>
                    <input class="btn btn-danger" ng-click="logout()" value="Logout"></input>
                    <br><br>
            </form>
        </div>
        <div id="likes">
            <br>
            <h3>Likes</h3>
            <table id="lista" class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <td class="text-center" width=125><b>Country</b></td>
                        <td class="text-center" width=125><b>Destination</b></td>
                        <td class="text-center" width=125><b>Price</b></td>
                        <td class="text-center" width=125><b>Delete</b></td>
                    </tr>
                </thead>
                <tbody id="table_likes" ng-repeat="data in userLikes">
                    <tr>
                        <td>{{data.country}}</td>
                        <td>{{data.destination}}</td>
                        <td>{{data.price}}</td>
                        <td><button class="btn btn-danger" ng-click="deletelike(data.id)">Delete</button></td>
                        <!-- <td><p ng-click="deletelike(data.id)" class='btn btn-danger'>Delete</p></td></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
        $(document).ready(function() {
              $('#lista').DataTable();
              $('#lista2').DataTable();
              $('.dataTables_length').addClass('bs-select');
        });
</script>