<div class="container">
    <div class="row" style="text-align:center">
        <div class="login">
            <h2>Iniciar Sesión</h2>
            <span id="e_log" class="styerror"></span>
            <form autocomplete="on" method="post" name="signin" id="signin">
                <div class="form-group">
                    <label for="usernamel">Usuario</label>
                    <input ng-model="login.user" ng-minlength="2" ng-maxlength="15" type="text" class="form-control" id="usernamel" name="usernamel" placeholder="nick">
                    <!-- <span id="e_usernamel" class="styerror"></span> -->
                    <span class="text-danger" ng-show="signin.usernamel.$error.required && (signin.usernamel.$dirty || signin.usernamel.$touched)">Introduzca un usuario</span>
                    <span class="text-danger" ng-show="signin.usernamel.$error.minlength">Introduzca mas de 2 caracteres</span>
                    <span class="text-danger" ng-show="signin.usernamel.$error.maxlength">Introduzca menos de 16 caracteres</span>
                </div>
                <div class="form-group">
                    <label for="passwordl">Contrase&ntilde;a</label>
                    <input ng-model="login.password" ng-minlength="4" ng-maxlength="8" type="password" class="form-control" id="passwordl" name="passwordl" placeholder="Contrase&ntilde;a">
                    <!-- <span id="e_passwordl" class="styerror"></span> -->
                    <span class="text-danger" ng-show="signin.passwordl.$error.required && (signin.passwordl.$dirty || signin.passwordl.$touched)">Introduzca una contraseña</span>
                    <span class="text-danger" ng-show="signin.passwordl.$error.minlength">Introduzca mas de 3 caracteres</span>
                    <span class="text-danger" ng-show="signin.passwordl.$error.maxlength">Introduzca menos de 9 caracteres</span>
                </div>
                <input type="submit" id="sendLogin" name="sendLogin" value="Iniciar sesion"
		               ng-show="signin.usernamel.$valid && signin.passwordl.$valid"
		               ng-click="submitLogin()"/>
                &nbsp;&nbsp;&nbsp;<a class="btn btn-info" id="login_auth0" href="http://localhost/www/FW_PHP_OO_MVC_AJS/Andiamo/backend/index.php?module=login&function=social_login" traget="_self">Social Login</a>
                </br></br>
            </form>
        </div>
        <div class="register">
            <h2>Registro</h2>
            <span id="e_reg" class="styerror"></span>
            <div id="login_results"></div>
            <div class="register">
                <form id="register" autocomplete="on" method="post" name="register">
                    <div class="form-group">
                        <label for="username">Nombre de usuario</label>
                        <input ng-model="register.user" ng-minlength="2" ng-maxlength="15" type="text" class="form-control" id="usernamer" name="usernamer" placeholder="nick">
                        <!-- <span id="e_usernamer" class="styerror"></span> -->
                        <span class="text-danger" ng-show="register.usernamer.$error.required && (register.usernamer.$dirty || register.usernamer.$touched)">Introduzca un nombre</span>
	       				<span class="text-danger" ng-show="register.usernamer.$error.minlength">Introduzca mas de 1 caracteres</span>
	       				<span class="text-danger" ng-show="register.usernamer.$error.maxlength">Introduzca menos de 16 caracteres</span>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo Electronico</label>
                        <input ng-model="register.email" ng-minlength="5" ng-maxlength="30" type="email" class="form-control" id="emailr" name="emailr" placeholder="Correo Electronico">
                        <!-- <span id="e_emailr" class="styerror"></span> -->
                        <span class="text-danger" ng-show="register.emailr.$error.required && (register.emailr.$dirty || register.emailr.$touched)">Introduzca un correo electroncico</span>
                		<span class="text-danger" ng-show="register.emailr.$error.email">Email no valido</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Contrase&ntilde;a</label>
                        <input ng-model="register.password" ng-minlength="4" ng-maxlength="8" type="password" class="form-control" id="passwordr" name="passwordr" placeholder="Contrase&ntilde;a">
                        <!-- <span id="e_passwordr" class="styerror"></span> -->
                        <span class="text-danger" ng-show="register.passwordr.$error.required && (register.passwordr.$dirty || register.passwordr.$touched)">Introduzca un contraseña</span>
	       				<span class="text-danger" ng-show="register.passwordr.$error.minlength">Introduzca mas de 6 caracteres</span>
	       				<span class="text-danger" ng-show="register.passwordr.$error.maxlength">Introduzca menos de 40 caracteres</span>
                    </div>
                    <input ng-show="register.usernamer.$valid && register.emailr.$valid && register.passwordr.$valid" type="submit" name="register" value="Registrar" id="sendRegister" ng-click="submitRegister()"/>
                </form>
        </div>
    </div>
        <div style="padding-left:15%;" class="recover">
            <h2>Recuperar</h2>
            <span id="e_rec" class="styerror"></span>
            <div class="recover">
                <form id="recover" autocomplete="on" method="post" name="recover">
                    <div class="form-group">
                        <label for="user">Usuario</label>
                        <input ng-model="recover.user" ng-minlength="5" ng-maxlength="25" type="text" class="form-control" id="userrec" name="userrec" placeholder="Usuario">
                        <!-- <span id="e_userrec" class="styerror"></span> -->
                        <span class="text-danger" ng-show="recover.userrec.$error.required && (recover.userrec.$dirty || recover.userrec.$touched)">Introduzca un usuario</span>
                		<span class="text-danger" ng-show="recover.userrec.$error.userrec">Usuario no valido</span>
                    </div>
                    <input ng-show="recover.userrec.$valid" type="submit" name="recover" value="Enviar" id="sendRecover" ng-click="submitrecPass()"/>
                </form>
        </div>
    </div>
</div>
  