<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
      </div>
    </div>
  </div>
  <div class="site-section">
      <div class="container">

        <div class="row mb-5">
          <div class="col-md-9 order-2">
            <div id="centersearch">
              <input style="display: inline;" id="mibusca" type="text" ng-model="busqueda" placeholder="Buscar viajes" autocomplete="off"
              uib-typeahead="travel as travel.country for travel in travels | filter:{country:$viewValue} | limitTo:5" class="form-control">
              <button class="btn btn-success" ng-click="Search()">Buscar</button>
            </div>
          </br><br/>
            <div ng-show="myshop" class="row mb-5">

              <div ng-click="details(data.id)" ng-show="all_list" ng-repeat="data in filter_travels" class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <img src="http://localhost/www/FW_PHP_OO_MVC_AJS/Andiamo/frontend/view/assets/images/{{data.img}}" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <p class="icon-heart" ng-click="insertlike(data.id)"></p>
                    <h3>{{data.country}}</h3>
                    <p class="mb-0">{{data.destination}}</p>
                    <p class="text-primary font-weight-bold">{{data.price}}</p>
                  </div>
                </div>
              </div>

              <div ng-click="details(data.id)" ng-show="filter_list" ng-repeat="data in list" class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <img src="http://localhost/www/FW_PHP_OO_MVC_AJS/Andiamo/frontend/view/assets/images/{{data.img}}" alt="Image placeholder" class="img-fluid">
                  </figure>
                  <div class="block-4-text p-4">
                    <h3>{{data.country}}</h3>
                    <p class="mb-0">{{data.destination}}</p>
                    <p class="text-primary font-weight-bold">{{data.price}}</p>
                  </div>
                </div>
              </div>
              

            </div>

            <div ng-show="detalles">
              <button class="btn btn-warning" ng-click="volver()">Volver</button>
              <div class="col-md-6">
                <img src="http://localhost/www/FW_PHP_OO_MVC_AJS/Andiamo/frontend/view/assets/images/{{list_detail.img}}" alt="Image" class="img-fluid">
              </div>
              <div class="col-md-6">
                <h2 class="text-black">{{list_detail.destination}}</h2>
                <p>{{list_detail.country}}</p>
                <p class="mb-4">Ex numquam veritatis debitis minima quo error quam eos dolorum quidem perferendis. Quos repellat dignissimos minus, eveniet nam voluptatibus molestias omnis reiciendis perspiciatis illum hic magni iste, velit aperiam quis.</p>
                <p><strong class="icon icon-shopping_cart text-primary h4"> {{list_detail.price}}€</strong></p>
              </div>
            </div>

            <div ng-show="bootpage" class="row" data-aos="fade-up">
              <div class="col-md-12 text-center">
                <div class="site-block-27">
                  <ul>
                      <uib-pagination class="pagination-sm pagination" total-items="travels.length" ng-model="currentPage"
                      ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=6></uib-pagination>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 order-1 mb-5 mb-md-0">
            <div class="border p-4 rounded mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
              <ul class="list-unstyled mb-0">
                <li class="mb-1"><a href="#" class="d-flex"><span>Men</span> <span class="text-black ml-auto">(2,220)</span></a></li>
                <li class="mb-1"><a href="#" class="d-flex"><span>Women</span> <span class="text-black ml-auto">(2,550)</span></a></li>
                <li class="mb-1"><a href="#" class="d-flex"><span>Children</span> <span class="text-black ml-auto">(2,124)</span></a></li>
              </ul>
            </div>

            <div class="border p-4 rounded mb-4">
              <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
                <div id="slider-range" class="border-primary"></div>
                <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
              </div>

              <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
                <label for="s_sm" class="d-flex">
                  <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">Small (2,319)</span>
                </label>
                <label for="s_md" class="d-flex">
                  <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">Medium (1,282)</span>
                </label>
                <label for="s_lg" class="d-flex">
                  <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">Large (1,392)</span>
                </label>
              </div>

              <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Color</h3>
                <a href="#" class="d-flex color-item align-items-center" >
                  <span class="bg-danger color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Red (2,429)</span>
                </a>
                <a href="#" class="d-flex color-item align-items-center" >
                  <span class="bg-success color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Green (2,298)</span>
                </a>
                <a href="#" class="d-flex color-item align-items-center" >
                  <span class="bg-info color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Blue (1,075)</span>
                </a>
                <a href="#" class="d-flex color-item align-items-center" >
                  <span class="bg-primary color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Purple (1,075)</span>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
